@import url(https://fonts.googleapis.com/css?family=Poppins:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic);


* {
    margin: 0;
    padding: 0;

}

.photo-gallery-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}



.photo-boxes {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    /* align-items:flex-end; */
    /* height: 700px; */
    position: relative;
    width: 700px;
}

.photo-gallery-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.main-photo {
    width: 700px;
    height: 525px;
    border: 1px solid gray;
}

.photo-boxes {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;

}

/* photo-1 starts  ******************************************************************/

.cbox-1:checked~label .big-photo-1::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 700px;
    height: 525px;
    background-image: url("https://picsum.photos/id/30/700/525");
}

.photo-box-01 {
    width: 100px;
    height: 75px;
    overflow: hidden;
    order: 2;
}

.photo-box-01 img {
    transition: transform 2s ease 0.2s;
}

.photo-box-01:hover img {
    transform: scale(1.5);
}

.cbox-div {
    width: 100px;
    height: 75px;
}

.cbox-1 {
    display: none;
}

/* photo-1 ends  ******************************************************************/


/* photo-2 start******************************************************************/

.photo-box-02 {
    order: 2;
}

.cbox-2 {
    display: none;
}

.cbox-2:checked~label .big-photo-2::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 700px;
    height: 525px;
    background-image: url("https://picsum.photos/id/48/700/525");
}

/* photo-2 ends******************************************************************/


/* photo-3 start******************************************************************/
.photo-box-03 {
    order: 2;
}

.cbox-3 {
    display: none;
}

.cbox-3:checked~label .big-photo-3::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 700px;
    height: 525px;
    background-image: url("https://picsum.photos/id/58/700/525");
}

/* photo-3 ends******************************************************************/

/* photo-4 start******************************************************************/
.photo-box-04 {
    order: 2;
}

.cbox-4 {
    display: none;
}

.cbox-4:checked~label .big-photo-4::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 700px;
    height: 525px;
    background-image: url("https://picsum.photos/id/64/700/525");

}

/* photo-4 ends******************************************************************/

/* photo-5 start******************************************************************/
.photo-box-05 {
    order: 2;
}

.cbox-5 {
    display: none;
}

.cbox-5:checked~label .big-photo-5::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 700px;
    height: 525px;
    background-image: url("https://picsum.photos/id/96/700/525");

}

/* photo-5 ends*****************************************************************/

/* photo-6 start******************************************************************/
.photo-box-06 {
    order: 2;
}

.cbox-6 {
    display: none;
}

.cbox-6:checked~label .big-photo-6::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 700px;
    height: 525px;
    background-image: url("https://picsum.photos/id/119/700/525");

}

/* photo-6 ends*/

/* photo-7 start*/
.photo-box-07 {
    order: 2;
}

.cbox-7 {
    display: none;
}

.cbox-7:checked~label .big-photo-7::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 700px;
    height: 525px;
    background-image: url("https://picsum.photos/id/133/700/525");

}

/* photo-7 ends*/


.main-photo {
    width: 708px;
    height: 525px;
    background-color: bisque;
}