@import url(https://fonts.googleapis.com/css?family=Poppins:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic);

* {
    margin: 0;
    padding: 0;

}

.photo-gallery-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}



.photo-boxes {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    /* align-items:flex-end; */
    /* height: 700px; */
    position: relative;
    width: 700px;
}

.photo-box {
    width: 100px;
    height: 75px;


}

.photo-box img {
    width: 100px;
    height: 75px;
    object-fit: cover;

}

.photo-box-01 {
    width: 100px;
    height: 75px;
    overflow: hidden;
    order: 2;
}

.photo-box-01 img {
    transition: transform 2s ease 0.2s;
}

.photo-box-01:hover img {

    transform: scale(1.5);


}

.cbox-div {
    width: 100px;
    height: 75px;
    background-color: blueviolet;
}

.cbox-1 {
    display: none;
}

.bg-1 {
    background-color: aqua;
}

.cbox-1:checked~label .big-photo-1::after {


    content: "";
    position: absolute;
    top: 0px;
    width: 700px;
    height: 525px;
    /* border: 1px solid red; */


    background-image: url("/images/glad-enthusiastic-bearded-man-keeps-hands-up-celebrates-triumph-wears-stylish-clothes-700x525.jpg");
    background-color: violet
}


.cbox-1:checked~label .bg-1 {


    background-color: violet
}



.main-photo-1 {

    background-color: chartreuse;
}


.main-photo {

    width: 708px;
    height: 525px;
    /* border: 1px solid gray; */
    background-color: bisque;
}